<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
{##### 模板加载#}
    {#<h1>模板加载系统</h1>#}

{##### 1、{{  }} 以双大括号包围的 变量#}
{# 1、向前端传递参数#}
    {#<p>变量的实例</p>#}
    {#{{ name }}<br/>#}
    {#{{ age }}<br/>#}
    {#{{ project }}<br/>#}
    {#{{ company }}<br/>#}
    {#{{ methde.teacher }}#}

{#2、前端字符串格式化#}
    {#<p>直接调用的变量是: {{ name }}</p>#}
    {#<p>根据索引取1上的值：{{ name.1 }}</p>#}
    {#<p>使用upper将字符串变成大写：{{ name.upper }}</p>#}
{#3、对列表进行调用和取值#}
    {#<p>对列表进行调用和取值</p>#}
    {#<p>变量是个列表，调用的列表是：{{ project }}</p>#}
    {#<p>根据列表的索引取值：{{ project.1 }}</p>#}
{#4、对字典进行调用和取值#}
    {#<p>对字典进行调用和取值</p>#}
    {#<p>变量是个字典，调用的字典是：{{ company }}</p>#}
    {#<p>根据键取的字典值是：{{ company.name }}</p>#}

{###### 2、{%  %} 以大括号和%号包围的  标签语句#}
{#1、if语句#}
    {#<p>if语句判断</p>#}
    {#{% if name == 'fei' %}#}
    {#    <p>name is {{ name }}</p>#}
    {#{% elif name == 'zhang' %}#}
    {#    <p style="color: red">name is {{ name }}</p>#}
    {#{% endif %}#}









</body>
</html>