<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax_tijiao</title>
</head>
<body>
{#enctype="multipart/form-data" //不对字符编码。在使用包含文件上传控件的表单时，必须使用该值。#}
<form action="/ajax_tijiao/" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="submit" id="btn" name="提交">
</form>
<script>
    $(function () {
        $("#btn").click(function () {
            //创建一个FormData对象用来存储数据
            var file_obj = new FormData;
            //通过jquery的的属性操作找到上传的文件,
            // 注意files方法是js对象的特有的方法，所以需要将jquery对象索引转化成js对象调用此方法
            file_obj.append('file', $("input[type='file']")[0].files[0]);
            //jquery的属性操作获取csrftoken值来防御CSRF攻击
            file_obj.append('csrfmiddlewaretoken',     $('[name=csrfmiddlewaretoken]').val());
            $.ajax({
                url: '/reqform/filetest/',
                type: 'post',
                processData: false,//不让jQuery处理我的file_obj
                contentType: false,//不让jQuery设置请求的内容类型
                data: file_obj,
                //成功回调函数
                success: function (res) {
                    console.log(res)
                }
            })
        })
    })
</script>
</body>
</html>